.btn {
    position: relative;
    display: inline-block;
    background-color: $cWhite;
    padding: 10px 40px;
    margin: 10px auto;
    color: $cBlack;
    font-weight: 600;
    border: 1px solid $cBlack;
    transition: all 0.3s;
    text-decoration: none !important;

    &.filled {
        background-color: $cBlack;
        color: $cWhite;
        box-shadow:5px 5px 10px 0 rgba(0, 0, 0, 0.5);

        &:hover {
            background-color: $cWhite;
            color: $cBlack;
        }
    }

    &.slide-bg {
        position: relative;
        overflow: hidden;
        z-index: 1;

        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background-color: $cBlack;
            transform: translateX(-100%);
            transition: transform 0.3s;
        }

        &:hover {
            color: $cWhite;

            &::before {
                transform: none;
            }
        }
    }

    &.cover-3d {
        position: relative;
        transform-style: preserve-3d;
        perspective: 300px;

        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $cBlack;
            transform: rotateX(90deg);
            transform-origin: top center;
            transition: all 0.3s;
            opacity: 0;
        }

        & span {
            display: inline-block;
            transform: translateZ(20px);
        }

        &:hover {
            color: $cWhite;

            &::before {
                opacity: 1;
                transform: none;
            }
        }
    }
}