$bp: (
    sm-col: 480,
    sm-row: 600,
    tab: 960,
    pc: 1280
);
$cWhite: white;
$cBlack: black;
$cWineRed: #904669;

$cSubTitle: #535353;
$cBgGray: #eaebe6;
$cLogoText: $cWineRed;
$cLoderNum: #535353;
$cLoderBg: $cWineRed;
$contentMaxWidth: 1070px;
$navHeight: 100px;