/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
.popular {
    &__container {
        justify-content: space-between;
    }

    &__item {
        flex-basis: 23%;
    }
}

.side {
    display: block;
}